<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primario shadow-sm">
    <div class="container-fluid">

      <a class="navbar-brand fw-bold" href="#">Blog deportivo</a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
        <span class="navbar-toggler-icon"></span>
      </button>

         <li class="nav-item" *ngIf="!isLogged()">
         <a class="nav-link" routerLink="/">Acceder</a>
         </li>

      <div *ngIf="isLogged()" class="collapse navbar-collapse" id="menu">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link" routerLink="/home">Inicio</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/agregar-usuario">AgregarUsuario</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/agregar-categoria">Categorías</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/agregar-publicacion">Agregar Publicación</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/mostrar-publicacion">Mostrar Publicaciones</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/listado-categorias">Listado Categorías</a></li>
          <li class="nav-item"><a class="nav-link" (click)="logout()">Cerrar Sesión</a></li>
        </ul>
      </div>

    </div>
  </nav>
</header>

<main class="contenido">
  <router-outlet></router-outlet>
</main>

<footer class="footer text-center py-3 bg-primario">
  <p class="text-white mb-0">© 2025 - Mi Blog Personal</p>
</footer>

