.bg-primario {
  background-color: var(--color-primario) !important;
}

.nav-link {
  color: var(--color-blanco) !important;
}

.nav-link:hover {
  color: var(--color-acento) !important;
}
.footer {
  background: var(--color-primario);
}
