@use 'bootstrap' as *;
.carrusel-img {
  height: 450px;
  object-fit: cover;
}

.parallax {
  background-image: url('/assets/parallax2.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 300px;
  filter: brightness(80%);
}
